.hongtui-title-02{
	width: 1200px;
	margin: 60px auto 0 auto;
	height: 80px;
	line-height: 80px;
	background: url("../images/shadow.png") no-repeat 120px bottom;
	padding-bottom: 18px;
	>a{
		color: #000000;
		font-size: 26px;
		margin-right: 170px;
	}
	.first{
		margin-left: 230px;
	}
	.current{
		color: #ff5757;
	}
	.quoted-price{
		display: inline-block;
		width: 100px;
		height: 30px;
		line-height: 30px;
		background-color: #ff5757;
		border-radius: 15px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
	}
}
.hongtui-result-box{
	.checkbox2-box{
		float: left;
		width: 104px;
		height: 142px;
		.checkbox2{
			width: 15px;
			margin:46px 10px 0 39px;
			background: url("../images/checkbox2.png") no-repeat left center;
			text-align: right;
			color: #6a6a6a;
			font-size: 16px;
			cursor: pointer;
		}
	}
	.no-margin-left{
		margin-left: 0;
	}
}
.media-num{
	clear: both;
	width: 1200px;
	margin: 0 auto;
	font-size: 22px;
	color: #373737;
	padding-top: 40px;
	padding-bottom: 24px;
	>div{
		display: inline-block;
		margin-left: 715px;
		margin-right: 180px;
	}
	.num{
		font-size: 28px;
		color:#fc6a6a;
	}
	.quoted-price{
		display: inline-block;
		width: 100px;
		height: 30px;
		line-height: 30px;
		background-color: #ff5757;
		border-radius: 15px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
	}
}