<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>自媒体</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<style type="text/css">
		body{
			background-image:none; 
			background-color: #fff;
		}
	</style>
	<script src="./script/jquery.js"></script>
	<script src="./script/common.js"></script>
	<script src="./script/connect.js"></script>
	<script src="./script/template.js"></script>
	<script src="./script/selfMedia.js"></script>
</head>
<body>
	<div class="hongtui-top">
		<span class="telephone">客服电话：400-5005678</span>
		<a class="collect" href="####">我的收藏</a>
		<a href="####">我的报价单</a>
		<div class="select-box">
			<span class="arrow"></span>
			<span class="select">王建</span>
			<div class="lists">
				<a href="####" class="list-item">常用自媒体</a>
				<a href="####" class="list-item">我的收藏</a>
				<a href="####" class="list-item">账号设置</a>
				<a href="####" class="list-item">退出账号</a>
			</div>
		</div>
	</div>
	<div class="hongtui-header">
		<a class="homelink" href="####">首页</a>
		<a class="current" href="####">自媒体</a>
		<a class="" href="####">关于我们</a>
	</div>
	<div class="hongtui-title">
		<a class="first" href="####">微信公众号</a>
		<a href="####">微博公众号</a>
		<a href="####">热门视频</a>
	</div>
	<!-- 搜索 start-->
	<div class="hongtui-box">
		<input class="hongtui-find" placeholder="请输入微信名称、微信号或关键词"/>
	</div>
	<!-- 搜索 end -->
	<!-- 筛选 start -->
	<div class="hongtui-box find">
		<div class="find-title">常见分类：</div>
		<div class="find-items" id＝"search_category">
			<span class="item any current">不限</span>
			<span class="item">新闻</span>
			<span class="item">资讯</span>
			<span class="item">时尚</span>
			<span class="item">生活</span>
			<span class="item">旅游</span>
			<span class="item">科技数码</span>
			<span class="item">互联网</span>
			<span class="item">美容</span>
			<span class="item">汽车</span>
			<span class="item">家居</span>
			<span class="item">财经</span>
		</div>
		<div class="find-more">更多<span class="find-arrow"></span></div>
		<br/>
	</div>
	<div class="hongtui-box find">
		<div class="find-title">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</div>
		<div class="find-items" id="PriceItem">
			<div class="select-box">
				<span class="select" id="PriceItem_type" data-type="MGTopHPrice">头条硬广</span>
				<span class="triangle"></span>
				<div class="select-items">
					<span class="select-item" data-type="MGTopHPrice">头条硬广</span>
					<span class="select-item" data-type="MGTopSPrice">头条软广</span>
					<span class="select-item" data-type="MGSecondHPrice">次条硬广</span>
					<span class="select-item" data-type="MGSecondSPrice">次条软广</span>
					<span class="select-item" data-type="MGOtherHPrice">3~n条硬广</span>
					<span class="select-item" data-type="MGOtherSPrice">3~n条软广</span>
					<span class="select-item" data-type="SGHPrice">单图文硬广</span>
					<span class="select-item" data-type="SGSPrice">单图文软广</span>
				</div>
			</div>
			<span class="item" data-min="0" data-max="500">500元以下</span>
			<span class="item" data-min="500" data-max="1000">500-1000元</span>
			<span class="item" data-min="1000" data-max="2000">1000-2000元</span>
			<span class="item" data-min="2000" data-max="4000">2000-4000元</span>
			<span class="item" data-min="4000" data-max="6000">4000-6000元</span>
			<span class="item" data-min="6000" data-max="10000">6000-10000元</span>
			<span class="item" data-min="10000" data-max="10000000">10000元以上</span>
		</div>
		<div class="therange">
			<input class="range-from" data-type="number"/>
			<span class="range-symbol">-</span>
			<input class="range-to" data-type="number"/>
			<span class="range-unit">元</span>
			<span class="range-certain">确定</span>
		</div>
		<br/>
	</div>
	<div class="hongtui-box find">
		<div class="find-title">粉&nbsp;&nbsp;丝&nbsp;&nbsp;量：</div>
		<div class="find-items" id="FunsItem">
			<span class="item any current" data-min="0" data-max="100000000">不限</span>
			<span class="item" data-min="10000" data-max="50000">1-5万</span>
			<span class="item" data-min="50000" data-max="100000">5-10万</span>
			<span class="item" data-min="100000" data-max="200000">10-20万</span>
			<span class="item" data-min="200000" data-max="400000">20-40万</span>
			<span class="item" data-min="400000" data-max="800000">40-80万</span>
			<span class="item" data-min="800000" data-max="1200000">80-120万</span>
			<span class="item" data-min="2000000" data-max="1000000000">200万以上</span>
		</div>
		<div class="therange">
			<input class="range-from" data-type="number"/>
			<span class="range-symbol">-</span>
			<input class="range-to" data-type="number"/>
			<span class="range-unit">万</span>
			<span class="range-certain">确定</span>
		</div>
		<br/>
	</div>
	<div class="hongtui-box find">
		<div class="find-title">阅&nbsp;&nbsp;读&nbsp;&nbsp;量：</div>
		<div class="find-items">
			<div class="select-box">
				<span class="select" data-type="MGTopRead">头条</span>
				<span class="triangle"></span>
				<div class="select-items" id="readItem_type">
					<span class="select-item" data-type="MGTopRead">头条</span>
					<span class="select-item" data-type="MGSecondRead">次条</span>
					<span class="select-item" data-type="MGOtherRead">3~n条</span>
					<span class="select-item" data-type="SGRead">单图文</span>
				</div>
			</div>
		</div>
		<div class="therange read" id="readItem">
			<input class="range-from" data-type="number"/>
			<span class="range-symbol">-</span>
			<input class="range-to" data-type="number"/>
			<span class="range-unit">万</span>
			<span class="range-certain">确定</span>
		</div>
		<br/>
	</div>
	<!-- 筛选 end -->
	<!-- 分割线 start-->
	<div class="hongtui-line"></div>
	<!-- 分割线 end -->
	<!-- 查询结果 start-->
	<div class="hongtui-result-box">
		<div class="result-filter">
			<div class="result-num">
				共为你找到<span id="result_totalcount">0</span>个结果
			</div>
			<div class="checkbox first">微信认证</div>
			<div class="checkbox">支持原创</div>
			<div class="checkbox">我的收藏</div>
			<div class="select-box">
				<span class="select">默认排序</span>
				<span class="triangle"></span>
				<div class="select-items">
					<span class="select-item">默认排序</span>
					<span class="select-item">综合排序</span>
					<span class="select-item">价格从低到高</span>
					<span class="select-item">阅读数从低到高</span>
				</div>
			</div>
		</div>
		<div class="result-header">
			<div class="head1">账号名称</div>
			<div class="head2">粉丝量</div>
			<div class="head3">阅读量</div>
			<div class="head4">头条报价</div>
			<div class="head5">次条报价</div>
			<div class="head6">3~n挑报价</div>
			<div class="head7">单图文报价</div>
			<div class="head8">操作</div>
		</div>
		<div id="result-con">
			
		</div>
		<!-- <div class="result-content cf">
			<div class="content-left">
				<div class="image"></div>
				<div class="webChat">微信认证</div>
			</div>
			<div class="content-right">
				<div class="accountnum">
					<span class="name">每天学点穿衣打扮</span>
					<span class="secondname">ichuanyidaban</span>
					<span class="icon-01"></span>
					<span class="icon-02"></span>
					<span class="icon-03"></span>
				</div>
				<div class="fansnum">810,000</div>
				<div class="readnum">810,000</div>
				<div class="firstprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="secondprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="thridprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="forthprice" style="width:185px;">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="operation">
					<div class="collect selected"></div>
					<div class="price"></div>
				</div>
			</div>
		</div>
		<div class="result-content cf">
			<div class="content-left">
				<div class="image"></div>
				<div class="webChat">微信认证</div>
			</div>
			<div class="content-right">
				<div class="accountnum">
					<span class="name">每天学点穿衣打扮</span>
					<span class="secondname">ichuanyidaban</span>
					<span class="icon-01"></span>
					<span class="icon-02"></span>
					<span class="icon-03"></span>
				</div>
				<div class="fansnum">810,000</div>
				<div class="readnum">810,000</div>
				<div class="firstprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="secondprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="thridprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="forthprice" style="width:185px;">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="operation">
					<div class="collect"></div>
					<div class="price"></div>
				</div>
			</div>
		</div>
		<div class="result-content cf">
			<div class="content-left">
				<div class="image"></div>
				<div class="webChat">微信认证</div>
			</div>
			<div class="content-right">
				<div class="accountnum">
					<span class="name">每天学点穿衣打扮</span>
					<span class="secondname">ichuanyidaban</span>
					<span class="icon-01"></span>
					<span class="icon-02"></span>
					<span class="icon-03"></span>
				</div>
				<div class="fansnum">810,000</div>
				<div class="readnum">810,000</div>
				<div class="firstprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="secondprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="thridprice">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="forthprice" style="width:185px;">
					<div class="soft">软广：<span>123.00</span></div>
					<div class="hard">硬广：<span>123.00</span></div>
				</div>
				<div class="operation">
					<div class="collect"></div>
					<div class="price"></div>
				</div>
			</div>
		</div> -->
	</div>
	<!-- 查询结果 end -->
	<!-- 翻页 start-->
	<div class="flip-box">
		<div class="flip" id="page_flip">
		</div>
	</div>
	<!-- 翻页 end -->
	<!-- 页脚 -->
	<div class="footer">
		<div class="firstline">客服电话：400-500-3456&nbsp;&nbsp;&nbsp;&nbsp;联系地址：北京市朝阳区亮马桥京信大厦</div>
		<div class="secondline">关于我们 | Copyright ©. All Rights Reserved. 京ICP证080047号 京公网安备11000002000006号</div>
	</div>
	<!-- 页脚end -->
</body>
<script type="template/html" id="temp_list">
{{each Items as item}}
	<div class="result-content cf">
		<div class="content-left">
			<div class="image" style="background-image:url('{{item.Avatar}}')"></div>
			<div class="webChat">{{item.AuthInfo}}</div>
		</div>
		<div class="content-right">
			<div class="accountnum">
				<span class="name">{{item.Wxname}}</span>
				<span class="secondname">{{item.Wxid}}</span>
				<span class="icon-01"></span>
				<span class="icon-02"></span>
				<span class="icon-03"></span>
			</div>
			<div class="fansnum">{{fmtMoney(item.FollowCount, 0, true)}}</div>
			<div class="readnum">{{fmtMoney(item.MGTopRead, 0, true)}}</div>
			<div class="firstprice">
				<div class="soft">软广：<span>{{fmtMoney(item.MGTopSPrice, 0, true)}}</span></div>
				<div class="hard">硬广：<span>{{fmtMoney(item.MGTopHPrice, 0, true)}}</span></div>
			</div>
			<div class="secondprice">
				<div class="soft">软广：<span>{{fmtMoney(item.MGSecondSPrice, 0, true)}}</span></div>
				<div class="hard">硬广：<span>{{fmtMoney(item.MGSecondHPrice, 0, true)}}</span></div>
			</div>
			<div class="thridprice">
				<div class="soft">软广：<span>{{fmtMoney(item.MGOtherSPrice, 0, true)}}</span></div>
				<div class="hard">硬广：<span>{{fmtMoney(item.MGOtherHPrice, 0, true)}}</span></div>
			</div>
			<div class="forthprice" style="width:185px;">
				<div class="soft">软广：<span>{{fmtMoney(item.SGSPrice, 0, true)}}</span></div>
				<div class="hard">硬广：<span>{{fmtMoney(item.SGHPrice, 0, true)}}</span></div>
			</div>
			<div class="operation">
				<div class="collect" data-id="{{item.Id}}"></div>
				<div class="price"></div>
			</div>
		</div>
	</div>
{{/each}}
</script>
<script type="template/html" id="temp_flip">
	<span>每页显示 {{PageSize}} 条内容&nbsp;&nbsp;&nbsp;&nbsp;共<span clsss="totalpage"> {{TotalPage}} </span>页</span>
	<span class="homepage {{if Page == 0}}disabled{{/if}}">首页</span>
	<span class="previous {{if Page == 0}}disabled{{/if}}">上一页</span>
	<span class="page">{{Page + 1}}/{{TotalCount}}</span>
	<span class="next {{if Page == TotalPage}}disabled{{/if}}">下一页</span>
	<span class="lastpage {{if Page == TotalPage}}disabled{{/if}}">末页</span>
</script>
</html>